@import "../css/normalize.css";
@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap";
* {
  font-family: "Alegreya Sans", "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.22;
  color: #292929;
  margin: 0;
  padding: 0;
  resize: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  background: center center no-repeat;
  overflow: visible;
  max-width: 100%;
}

html,
body {
  font-size: 18px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
@media (max-width: 768px) {
  html,
body {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  html,
body {
    font-size: 16px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

section {
  position: relative;
  min-width: 36.1111111111rem;
  height: 100vh;
}

.container {
  max-width: 61.1111111111rem;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .container {
    max-width: 42.6666666667rem;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 26.6666666667rem;
  }
}

section.template .container {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.template h2 {
  font-size: 2.6666666667rem;
}
section.template h3 {
  text-transform: none;
}
section.template p {
  color: #666666;
}

ul li {
  list-style: none;
  display: inline-block;
}
ul li:last-child {
  margin-right: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  display: inline-block;
  display: block;
}

button {
  padding: 1.1666666667rem 2.2777777778rem;
  border-radius: 5.5555555556rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8888888889rem;
  line-height: 1.12;
  cursor: pointer;
}

.button--white {
  color: #365A49;
  background-color: #FFFFFF;
}
.button--white:hover {
  color: #497870;
  background-color: #FFFFFF;
}

.button--green {
  color: #FFFFFF;
  background-color: #365A49;
}
.button--green:hover {
  color: #FFFFFF;
  background-color: #2E4E3F;
}

.button--link {
  margin: 1.1666666667rem 1.2222222222rem;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.22;
  color: #497870;
  text-transform: none;
}
.button--link:hover {
  color: #292929;
}

h1 {
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 1.21;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.19;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.19;
  text-transform: uppercase;
}

section.welcome {
  background: url("/2020-11-23-web-chocco/images/decorate/berry-1.png") 66% 83% no-repeat, url("/2020-11-23-web-chocco/images/decorate/sheet-1.png") 67% 98% no-repeat, url("/2020-11-23-web-chocco/images/decorate/sheet-2.png") 88% 68% no-repeat, url("/2020-11-23-web-chocco/images/decorate/sheet-3.png") 12% 98% no-repeat, url("/2020-11-23-web-chocco/images/decorate/candybar.png") top 45% right 22%/auto no-repeat, url("/2020-11-23-web-chocco/images/decorate/pattern-1.png") bottom right no-repeat;
  background-color: #61C4D9;
}
section.welcome::after {
  z-index: 100;
  position: absolute;
  content: url("/2020-11-23-web-chocco/images/decorate/berry-2.png");
  top: 89%;
  left: 76%;
}

section.why {
  background: url("/2020-11-23-web-chocco/images/decorate/pattern-2.png") top 50% left no-repeat;
  background-color: #FFFFFF;
}
section.why::after {
  z-index: 1000;
  position: absolute;
  content: url("/2020-11-23-web-chocco/images/decorate/candyberry.png");
  top: 68%;
  left: 0%;
}

section.slider {
  background-color: #F8FAF9;
}

section.reviews {
  background: url("/2020-11-23-web-chocco/images/decorate/berry-5.png") top 10% right 12% no-repeat;
  background-color: #FFFFFF;
}
section.reviews::before {
  z-index: 1000;
  position: absolute;
  content: url("/2020-11-23-web-chocco/images/decorate/pattern-4.png");
  top: 75%;
  left: 0%;
}
section.reviews::after {
  z-index: 1000;
  position: absolute;
  content: url("/2020-11-23-web-chocco/images/decorate/berry-6.png");
  top: 82%;
  left: 4%;
}

section.delivery {
  background: url("/2020-11-23-web-chocco/images/decorate/berry-7.png") bottom 10% left 10% no-repeat, url("/2020-11-23-web-chocco/images/decorate/sheet-4.png") bottom 25% right 5% no-repeat, url("/2020-11-23-web-chocco/images/decorate/raspberry-bg.png") center center/100% auto no-repeat;
}

.header .container {
  flex-flow: row nowrap;
  padding-top: 1.3333333333rem;
}

.header__logo .logo__pic {
  height: 2.1111111111rem;
}

.header__menu {
  flex: 1;
  margin-bottom: 0.3333333333rem;
  margin-left: 2.2222222222rem;
  margin-right: 2.2222222222rem;
}
.header__menu .menu__list {
  display: flex;
  justify-content: space-between;
}
.header__menu .menu__list .menu__item {
  color: #FFFFFF;
}

.contacts__phone {
  display: inline-flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 1.2222222222rem;
  line-height: 0.82;
  margin-right: 0.5555555556rem;
}
.contacts__phone .phone__pic {
  display: inline-block;
  margin-right: 0.3333333333rem;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
}

.cover {
  height: 100%;
}

.cover .container {
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.cover__topline {
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.cover__title {
  color: #FFFFFF;
  margin-top: 0.5555555556rem;
  margin-bottom: 1.1111111111rem;
}

.cover__slogan p {
  font-size: 1.1666666667rem;
  line-height: 1.19;
  color: #FFFFFF;
  margin-bottom: 1.6666666667rem;
}

.cover .candybar {
  display: flex;
  align-items: center;
  height: 100%;
}
.cover .candybar .candybar__pic {
  height: 83%;
  margin: -29% 0 0 -4%;
}

.cover__properties {
  display: flex;
  margin-bottom: 13%;
}
.cover__properties .properties__menu .properties__item {
  display: inline-flex;
  flex-flow: row nowrap;
  margin-right: 2.5555555556rem;
}

.properties__pic {
  display: inline-flex;
  margin-right: 0.5555555556rem;
  width: 2.2777777778rem;
  height: 2.2777777778rem;
}

.properties__slogan p {
  width: 4.1111111111rem;
  color: #FFFFFF;
  font-size: 0.8888888889rem;
  line-height: 1.12;
}

.why .container {
  padding: 5.5555555556rem 0;
}

.why__title {
  margin-bottom: 1.0555555556rem;
}

.why__slogan {
  width: 45%;
  margin-bottom: 2.7777777778rem;
}

.why__benefits {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.benefits__item {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-right: 2.7777777778rem;
  position: relative;
}
.benefits__item:not(:last-child)::before {
  position: absolute;
  content: url("/2020-11-23-web-chocco/images/svg/dots.svg");
  width: 3.7222222222rem;
  top: 23%;
  left: 81.5%;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item .benefits__title {
  margin-bottom: 1rem;
}

.benefits__gray {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background-color: #F2F5F4;
  margin-bottom: 1.1111111111rem;
}

.benefits__pic {
  height: 3.7777777778rem;
  width: 3.7777777778rem;
}

.benefits__description p {
  margin: 0 right;
  width: 100%;
}

.reviews .container {
  padding: 3.4444444444rem 0;
}

.reviews h2 {
  z-index: 100;
  margin-bottom: 1.7777777778rem;
}

.reviews h3,
.reviews p,
.reviews div {
  text-align: left;
}

.reviews__card {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 2.3333333333rem;
  background-color: #F8FAF9;
}
.reviews__card .card__pic {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
  background-image: url("/2020-11-23-web-chocco/images/photo/reviews-alena.jpg");
  background-size: cover;
}
.reviews__card .card__info {
  margin-left: 2.2222222222rem;
  flex: 1;
}
.reviews__card::before {
  position: absolute;
  content: "";
  width: 4.6111111111rem;
  height: 4.6111111111rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  top: -17%;
}
.reviews__card::after {
  position: absolute;
  content: url("/2020-11-23-web-chocco/images/decorate/pattern-5.png");
  top: 7%;
  right: 0%;
}

.card__title {
  margin-bottom: 0.6666666667rem;
}

.card__description p {
  margin-bottom: 1.3888888889rem;
  width: 78%;
}

.reviews__list {
  margin-top: 0.8333333333rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.reviews__item {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border-radius: 50%;
  margin-right: 0.3333333333rem;
  border: 0.2222222222rem solid transparent;
}
.reviews__item.alena {
  background: url("/2020-11-23-web-chocco/images/photo/reviews-alena.jpg");
  background-size: cover;
}
.reviews__item.vadim {
  background: url("/2020-11-23-web-chocco/images/photo/reviews-vadim.jpg");
  background-size: cover;
}
.reviews__item.marina {
  background: url("/2020-11-23-web-chocco/images/photo/reviews-marina.jpg");
  background-size: cover;
}
.reviews__item.reviews__item--active, .reviews__item.reviews__item:hover {
  border: 0.2222222222rem solid #365A49;
}

.reviews__link {
  height: 100%;
  width: 100%;
}

.delivery .container {
  padding: 3.4444444444rem 0;
  color: #497870;
}
.delivery .container .delivery__title {
  color: #365A49;
  margin-bottom: 2.5555555556rem;
}

form {
  -webkit-user-select: none;
          user-select: none;
  width: 100%;
  height: 100%;
  text-align: left;
}
form .parent__col {
  column-count: 2;
  column-gap: 2rem;
  margin-bottom: 2.0555555556rem;
}
form .parent__col:last-child {
  margin-bottom: 0;
}
form * {
  width: 100%;
}
form button,
form .label__checkbox,
form .label__radio {
  width: auto;
}
form button p,
form .label__checkbox p,
form .label__radio p {
  white-space: nowrap;
}
form p {
  cursor: pointer;
  margin-bottom: 0.1111111111rem;
}

.form__col {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
}

.form__rowwrap {
  display: flex;
  flex-flow: row wrap;
}
.form__rowwrap.h100 {
  height: 100%;
}
.form__rowwrap .mt-37 {
  margin-top: -2.0555555556rem;
}
.form__rowwrap .mt28 {
  margin-top: 1.5555555556rem;
}

.label__input,
.label__textarea {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0.6666666667rem;
  margin-right: 0.7777777778rem;
}
.label__input:last-child,
.label__textarea:last-child {
  margin-right: 0;
}

input {
  min-height: 3.2222222222rem;
}

textarea {
  min-height: 3.2222222222rem;
}

.label__input input,
.label__textarea textarea {
  flex: 1;
  background-color: #FFFFFF;
  border-radius: 0.2222222222rem;
  padding: 0.6666666667rem 0.6666666667rem 0.7777777778rem;
  border: 0.1666666667rem solid transparent;
}
.label__input input:focus,
.label__textarea textarea:focus {
  border: 0.1666666667rem solid #DEE2BD;
}

.label__checkbox,
.label__radio {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 1.3333333333rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.label__checkbox:last-child,
.label__radio:last-child {
  margin-right: 0;
}
.label__checkbox input.checkbox,
.label__checkbox input.radio,
.label__radio input.checkbox,
.label__radio input.radio {
  display: none;
}
.label__checkbox p,
.label__radio p {
  margin-left: 0.5555555556rem;
  margin-bottom: 0;
}

.form__radio {
  min-width: 1.3888888889rem;
  height: 1.3888888889rem;
  border-radius: 50%;
  position: relative;
  background-color: #FFFFFF;
}
.form__radio::before {
  opacity: 0;
  content: "";
  min-width: 0.7222222222rem;
  height: 0.7222222222rem;
  border-radius: 50%;
  position: absolute;
  background-color: #365A49;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio:checked ~ .form__radio::before {
  opacity: 1;
}

.form__checkbox {
  min-width: 1.3888888889rem;
  height: 1.3888888889rem;
  border-radius: 0.2222222222rem;
  position: relative;
  background-color: #FFFFFF;
}
.form__checkbox .checkmark {
  opacity: 0;
  height: 0.4444444444rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__checkbox .checkbox:checked ~ .checkmark {
  opacity: 1;
}

.fixedmenu {
  z-index: 100;
  position: fixed;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.fixedmenu__list {
  display: flex;
  flex-flow: column nowrap;
}

.fixedmenu__item {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  margin: 0.2777777778rem;
  position: relative;
}
.fixedmenu__item::before {
  content: "";
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixedmenu__item--active .fixedmenu__link {
  border: 0.0555555556rem solid #FFFFFF;
}

.fixedmenu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.0555555556rem solid transparent;
}