button {
    padding: rem(21px) rem(41px);
    border-radius: rem(100px);
    text-transform: uppercase;
    font-weight: 800;
    font-size: rem(16px);
    line-height: 1.12;
    cursor: pointer;
}

.button--white {
    color: $deepgreen;
    background-color: $white;

    &:hover {
        color: $green;
        background-color: $white;
    }
}

.button--green {
    color: $white;
    background-color: $deepgreen;

    &:hover {
        color: $white;
        background-color: #2E4E3F;
    }
}

.button--link {
    margin: rem(21px) rem(22px);
    padding: 0;
    font-weight: normal;
    font-size: rem(18px);
    line-height: 1.22;
    color: $green;
    text-transform: none;

    &:hover {
        color: $black;
    }
}