// section.welcome {
//     display: none;
// }

// section.why {
//     display: none;
// }

// section.slider {
//     display: none;
// }

// section.reviews {
//     display: none;
// }

// // section.delivery {
// //     display: none;
// // }

// // section.map {
// //     display: none;
// // }

// TOTAL settings
$f: 18px;
$tablet: 768px;
$phone: 480px;


// color
$green: #497870;
$deepgreen: #365A49;
$gray: #666666;
$black: #292929;
$white:#FFFFFF;


// общие стили
* {
    font-family: "Alegreya Sans", "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.22;
    color: $black;
    margin: 0;
    padding: 0;
    resize: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    background: center center no-repeat;
    overflow: visible;
    max-width: 100%;
    // -moz-outline-radius: rem(8px); Работает только в FireFox
    font-size: $f;
}

html,
body {
    font-size: $f;

    @include tablet {
        font-size: $f;
        // font-size: $f - 1px;
    }

    @include phone {
        font-size: $f;
        // font-size: $f - 2px;
    }

    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    // outline: #DEE2BD solid rem(3px);

    // убрать возможность скроллить
    // overflow-x: hidden;
    // overflow-y: hidden;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

section {
    position: relative;
    min-height: 650px;
    height: 100vh;
}

.container {
    max-width: 1100px;
    padding: 0 80px;
    margin: 0 auto;

    @include tablet {
        max-width: 768px;
        padding: 0 30px;
        margin: 0;
    }

    @include phone {
        max-width: 480px;
        padding: 0 10px;
        margin: 0;
    }

    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

section.template {

    .container {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h2 {
        font-size: rem(48px);

        @include phone {
            font-size: rem(40px);
            line-height: 0.9;
        }
    }

    h3 {
        text-transform: none;
    }

    p {
        color: $gray;
    }
}

ul {
    li {
        list-style: none;
        display: inline-block;

        &:last-child {
            margin-right: 0;
        }
    }
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

img {
    display: inline-block;
    display: block;
    // min-width: 100%;
}