.burgermenu {
    @include tablet {
        margin: 0 5px;
        width: 26px;
        display: flex;
        flex-flow: column nowrap;
    }

    @include phone {
        margin: 0;
        width: 26px;
        display: flex;
        flex-flow: column nowrap;
    }

    display: none;
}

.burgermenu__line {
    border-radius: 10px;
    height: 4.2px;
    background-color: $white;
    margin-bottom: 5.4px;

    &:last-child {
        margin-bottom: 0;
    }
}