.cover {
    height: 100%;
}

.cover .container {
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: rem(112px);
}

.cover__topline {

    @include tablet {
        text-align: center;
        width: 100%;
        align-items: center;

        &::before {
            content: url("/2020-11-23-web-chocco/images/decorate/comp.png");
            margin-top: rem(10px);
        }
    }

    width: 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.cover__title {

    @include tablet {
        margin-top: rem(16px);
        margin-bottom: rem(4px);
    }

    color: $white;
    margin-top: rem(19px);
    margin-bottom: rem(20px);
}

.cover__slogan p {

    @include tablet {
        margin-right: rem(170px);
        margin-bottom: rem(23px);
        margin-left: rem(170px);
    }

    font-size: rem(21px);
    line-height: 1.19;
    color: $white;
    margin-bottom: rem(32px);
}

.cover__properties {

    @include tablet {
        display: none;
    }

    @include phone {
        display: none;
    }

    display: flex;

    .properties__menu {
        .properties__item {
            display: inline-flex;
            flex-flow: row nowrap;
            margin-right: rem(46px);
        }
    }
}

.properties__pic {
    display: inline-flex;
    margin-right: rem(10px);
    width: rem(41px);
    height: rem(41px);
}

.properties__slogan p {
    width: rem(74px);
    color: $white;
    font-size: rem(16px);
    line-height: 1.12;
}