section.welcome {
    background: url("/2020-11-23-web-chocco/images/decorate/berry--1.png") 71% 83% no-repeat,
        url("/2020-11-23-web-chocco/images/decorate/sheet--1.png") 71% 96% no-repeat,
        url("/2020-11-23-web-chocco/images/decorate/sheet--2.png") 99% 70% no-repeat,
        url("/2020-11-23-web-chocco/images/decorate/candybar.png") top 47% left 52vw no-repeat, //95% 46%
        url("/2020-11-23-web-chocco/images/decorate/pattern--1.png") bottom right no-repeat;

    &::before {
        z-index: 100;
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/decorate/sheet--3.png");
        top: 89.5%;
        left: 3.5%;
    }

    &::after {
        z-index: 100;
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/decorate/berry--2.png");
        top: 92%;
        left: 81.5%;
    }

    @include tablet {
        background: url("/2020-11-23-web-chocco/images/decorate/pattern--1.png") center right no-repeat;

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }

        background-color: #61C4D9;
    }

    @include phone {
        background: url("/2020-11-23-web-chocco/images/decorate/pattern--1.png") right top 20% / 66% no-repeat;

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }

        background-color: #61C4D9;
    }

    background-color: #61C4D9;
}


section.why {
    background: url("/2020-11-23-web-chocco/images/decorate/pattern--2.png") center left no-repeat;

    &::after {
        z-index: 100;
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/decorate/candyberry.png");
        top: 72%;
        left: 0%;
    }

    @include tablet {
        background-position: top 10% left;

        &::after {
            top: 68%;
            left: 0%;
        }

        background-color: $white;
    }

    @include phone {
        background: url();

        &::after {
            display: none;
        }

        background-color: $white;
    }

    background-color: $white;
}


section.slider {
    background-color: #F8FAF9;
}

section.team {
    background: none;

    &::before {
        z-index: 100;
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/decorate/comp--berry4--pattern3png.png");
        top: -29%;
        right: 0;
    }

    &::after {
        z-index: 100;
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/decorate/berry--4.png");
        top: 92%;
        left: 3%;
    }

    @include tablet {
        background: none;

        &::before {
            content: "";
            width: rem(151.87px);
            height: rem(351px);
            background: url("/2020-11-23-web-chocco/images/decorate/comp--berry4--pattern3png.png") center center / contain no-repeat;
            top: -30.5%;
        }

        &::after {
            content: url("/2020-11-23-web-chocco/images/decorate/berry--4.png");
            top: 91%;
            left: 3.5%;
        }
    }

    @include phone {
        background: none;

        &::before {
            background: url("/2020-11-23-web-chocco/images/decorate/comp--berry4--pattern3png.png") center center / contain no-repeat;
            top: -27%;
            right: -5%;
        }

        &::after {
            z-index: 100;
            position: absolute;
            content: url("/2020-11-23-web-chocco/images/decorate/berry--4.png");
            top: 94.5%;
            left: 0.5%;
        }
    }

    background-color: $white;
}

section.reviews {
    background: url("/2020-11-23-web-chocco/images/decorate/berry--5.png") top 13.5% right 2.5% no-repeat;

    &::before {
        z-index: 100;
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/decorate/comp--berry6--pattern4.png");
        top: 78.5%;
        left: 0;
    }


    @include tablet {
        background-position: top 2% right -4%;

        &::before {
            content: "";
            width: rem(119px);
            height: rem(282px);
            background: url("/2020-11-23-web-chocco/images/decorate/comp--berry6--pattern4.png") center center / contain no-repeat;
            top: 76.5%;
            left: -3%;
        }

        background-color: $white;

    }

    @include phone {
        background-position: top 2.5% right -8%;

        &::before {
            background: url("/2020-11-23-web-chocco/images/decorate/comp--berry6--pattern4--phone.png") center center / contain no-repeat;
            width: rem(122px);
            height: rem(235px);
            top: 83%;
        }

        background-color: $white;
    }

    background-color: $white;
}


section.delivery {
    background:
        url("/2020-11-23-web-chocco/images/decorate/berry--7.png") bottom 17.5% left 5% no-repeat,
        url("/2020-11-23-web-chocco/images/decorate/sheet--4.png") bottom 20% right 1% no-repeat,
        url("/2020-11-23-web-chocco/images/decorate/raspberry--bg.png") center center / cover no-repeat;

    @include tablet {
        background: url("/2020-11-23-web-chocco/images/decorate/raspberry--bg.png") center center / cover no-repeat;
    }

    @include phone {
        background: url("/2020-11-23-web-chocco/images/decorate/raspberry--bg.png") center center / cover no-repeat;
    }

    background-color: #CFDEDB;
}