section.welcome {
    background: url("/2020-11-23-web-chocco/images/decorate/berry-1.png") 71% 83% no-repeat,
        url("/2020-11-23-web-chocco/images/decorate/sheet-1.png") 71% 96% no-repeat,
        url("/2020-11-23-web-chocco/images/decorate/sheet-2.png") 99% 70% no-repeat,
        url("/2020-11-23-web-chocco/images/decorate/candybar.png") 95% 46% no-repeat,
        url("/2020-11-23-web-chocco/images/decorate/pattern-1.png") bottom right no-repeat;

    &::before {
        z-index: 100;
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/decorate/sheet-3.png");
        top: 89.5%;
        left: 3.5%;
    }

    &::after {
        z-index: 100;
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/decorate/berry-2.png");
        top: 92%;
        left: 81.5%;
    }

    @include tablet {
        background: url("/2020-11-23-web-chocco/images/decorate/pattern-1.png") center right no-repeat;

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }

        background-color: #61C4D9;
    }

    @include phone {
        background: url();

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }

        background-color: #61C4D9;
    }

    background-color: #61C4D9;
}


section.why {

    @include tablet {
        background-position: top 10% left;

        &::after {
            top: 68%;
            left: 0%;
        }

        background-color: $white;
    }

    @include phone {
        background: url();

        &::after {
            display: none;
        }

        background-color: $white;
    }

    background: url("/2020-11-23-web-chocco/images/decorate/pattern-2.png") center left no-repeat;

    &::after {
        z-index: 100;
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/decorate/candyberry.png");
        top: 72%;
        left: 0%;
    }

    background-color: $white;
}


section.slider {
    background-color: #F8FAF9;
}


section.reviews {
    background: url("/2020-11-23-web-chocco/images/decorate/berry-5.png") top 13.5% right 2.5% no-repeat;

    &::before {
        z-index: 100;
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/decorate/pattern-4.png");
        top: 78%;
        left: 0;
    }

    &::after {
        z-index: 100;
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/decorate/berry-6.png");
        top: 85.5%;
        left: 4%;
    }

    @include tablet {
        background-position: top 2% right -4%;

        &::before {
            top: 76%;
            left: -4%;
        }

        &::after {
            top: 82.5%;
            left: -4%;
        }

        background-color: $white;

    }

    @include phone {
        background: url();

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }

        background-color: $white;
    }

    background-color: $white;
}


section.delivery {
    background:
        url("/2020-11-23-web-chocco/images/decorate/berry-7.png") bottom 17.5% left 5% no-repeat,
        url("/2020-11-23-web-chocco/images/decorate/sheet-4.png") bottom 20% right 1% no-repeat,
        url("/2020-11-23-web-chocco/images/decorate/raspberry-bg.png") center center / cover no-repeat;

    @include tablet {
        background: url("/2020-11-23-web-chocco/images/decorate/raspberry-bg.png") center center / cover no-repeat;
    }

    @include phone {
        background: url("/2020-11-23-web-chocco/images/decorate/raspberry-bg.png") center center / cover no-repeat;
    }
}