.fixedmenu {

    @include tablet {
        display: none;
    }

    @include phone {
        display: none;
    }

    z-index: 500;
    position: fixed;
    right: rem(42px);
    padding-bottom: rem(42px);
    top: 50%;
    transform: translateY(-50%);
}

.fixedmenu__list {
    display: flex;
    flex-flow: column nowrap;
}

.fixedmenu__item {
    width: rem(16px);
    height: rem(16px);
    margin: rem(2.5px);
    position: relative;

    &::before {
        content: "";
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.fixedmenu__item--active .fixedmenu__link {
    border: rem(1px) solid $white;
}

.fixedmenu__link {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    background-color: transparent;
    border: rem(1px) solid transparent;
}