.reviews .container {
    padding: rem(62px) 0;
}

.reviews h2 {
    z-index: 100;
    margin-bottom: rem(32px);
}

.reviews h3,
.reviews p,
.reviews div {
    text-align: left;
}

.reviews__card {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: rem(42px);
    background-color: #F8FAF9;

    .card__pic {
        width: rem(253px);
        height: rem(264px);
        background-image: url("/2020-11-23-web-chocco/images/photo/reviews-alena.jpg");
        background-size: cover;
    }

    .card__info {
        margin-left: rem(40px);
        flex: 1;
    }

    &::before {
        position: absolute;
        content: "";
        width: rem(83px);
        height: rem(83px);
        border-radius: 50%;
        background-color: $white;
        top: -17%;
    }

    &::after {
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/decorate/pattern-5.png");
        top: 7%;
        right: 0%;
    }
}

.card__title {
    margin-bottom: rem(12px);
}

.card__description p {
    margin-bottom: rem(25px);
    width: 78%;
}

.reviews__list {
    margin-top: rem(15px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.reviews__item {
    width: rem(74px);
    height: rem(74px);
    border-radius: 50%;
    margin-right: rem(6px);
    border: rem(4px) solid transparent;

    @each $avatar in (alena, vadim, marina) {
        &.#{$avatar} {
            background: url("/2020-11-23-web-chocco/images/photo/reviews-#{$avatar}.jpg");
            background-size: cover;
        }
    }

    &.reviews__item--active,
    &.reviews__item:hover {
        border: rem(4px) solid $deepgreen;
    }
}

.reviews__link {
    height: 100%;
    width: 100%;
}