.reviews h2 {
    z-index: 100;
    margin-bottom: rem(32px);

    @include phone {
        margin-bottom: rem(26px);
    }
}

.reviews h3,
.reviews p,
.reviews div {
    text-align: left;

    @include tablet {
        text-align: center;
    }
}

.reviews__card {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #F8FAF9;
    padding: rem(42px);
    flex-flow: row nowrap;

    @include tablet {
        padding: rem(56px) rem(26px) rem(46px);
        flex-flow: column nowrap;
    }

    @include phone {
        padding: rem(56px) rem(26px) rem(26px);
        flex-flow: column nowrap;
    }

    .card__pic {
        width: rem(253px);
        height: rem(264px);
        margin-bottom: 0;

        @include tablet {
            width: rem(130px);
            height: rem(130px);
            margin-bottom: rem(32px);
        }

        @include phone {
            margin-bottom: rem(16px);
        }

        @each $avatar in (alena, vadim, marina) {
            &.#{$avatar} {
                background: url("/2020-11-23-web-chocco/images/photo/reviews-#{$avatar}.jpg");
                background-size: cover;

                @if #{$avatar}=="alena" {
                    background-position-x: 78%;
                    background-position-y: 38%;
                    background-size: 105%;
                    ;
                }

                @if #{$avatar}=="vadim" {
                    background-position-x: 45%;
                    background-position-y: 41%;
                    background-size: 360%;
                }

                @if #{$avatar}=="marina" {
                    background-position-x: 52%;
                    background-position-y: 6%;
                    background-size: 250%;
                }
            }
        }
    }

    .card__info {
        flex: 1;
        margin-left: rem(40px);

        @include tablet {
            margin-left: 0;
        }
    }

    &::before {
        position: absolute;
        content: "";
        width: rem(83px);
        height: rem(83px);
        border-radius: 50%;
        background-color: $white;
        top: rem(-63px);

        @include tablet {
            top: rem(-48px);
        }

        @include phone {
            display: none;
        }
    }

    &::after {
        position: absolute;
        content: "";
        background: url("/2020-11-23-web-chocco/images/decorate/pattern-5.png") center center / contain no-repeat;
        top: 5%;
        right: 0;
        width: rem(127px);
        height: rem(167px);

        @include tablet {
            top: 3%;
        }

        @include phone {
            width: 30%;
            top: 4%;
        }
    }
}

.card__title {
    margin-bottom: rem(12px);

    @include tablet {
        margin-bottom: rem(16px);
    }

    @include phone {
        margin-bottom: rem(12px);
    }
}

.card__description p {
    margin-bottom: rem(25px);
    width: 78%;

    @include tablet {
        margin-bottom: rem(16px);
        width: 100%;
    }

    @include phone {
        margin-bottom: rem(12px);
    }
}

.reviews__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: rem(16px);

    @include tablet {
        margin-top: rem(32px);
    }

    @include tablet {
        margin-top: rem(26px);
    }
}

.reviews__item {
    width: rem(74px);
    height: rem(74px);
    border-radius: 50%;
    margin-right: rem(6px);
    border: rem(4px) solid transparent;

    @include phone {
        width: rem(64px);
        height: rem(64px);
    }

    @each $avatar in (alena, vadim, marina) {
        &.#{$avatar} {
            background: url("/2020-11-23-web-chocco/images/photo/reviews-#{$avatar}.jpg");
            background-size: cover;

            @if #{$avatar}=="alena" {
                background-position-x: 50%;
                background-position-y: 40%;
                background-size: 120%;
            }

            @if #{$avatar}=="vadim" {
                background-position-x: 45%;
                background-position-y: 42%;
                background-size: 400%;
            }

            @if #{$avatar}=="marina" {
                background-position-x: 50%;
                background-position-y: 15%;
                background-size: 300%;
            }
        }
    }

    &.reviews__item--active,
    &.reviews__item:hover {
        border: rem(4px) solid $deepgreen;
    }
}

.reviews__link {
    height: 100%;
    width: 100%;
}