.why__title {
    margin-bottom: rem(20px);

    @include tablet {
        margin-bottom: rem(5px);
    }

    @include phone {
        margin-bottom: rem(12px);
    }
}

.why__slogan {
    margin-bottom: rem(50px);
    width: 48%;

    @include tablet {
        width: 64%;
    }

    @include phone {
        width: 100%;
    }
}

.why__benefits {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: rem(20px);

    @include tablet {
        margin: 0;
    }

    @include phone {
        flex-flow: column nowrap;
        justify-content: flex-start;
        margin-bottom: rem(-26px);
    }

    .benefits__info {
        display: flex;
        flex-flow: column nowrap;

        @include phone {
            margin-left: rem(12px);
            align-items: flex-start;
        }
    }

    .benefits__description {
        width: 100%;

        @include phone {
            width: 90%;
        }

        p {
            text-align: center;

            @include phone {
                text-align: start;
            }
        }
    }
}

.benefits__item {
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;

    &:not(:last-child)::after {
        position: absolute;
        content: "";
        width: rem(67px);
        height: rem(21px);
        top: 23%;
        left: 95.5%;
        background-color: #F2F5F4;
        mask-image: url("/2020-11-23-web-chocco/images/svg/dots.svg");

        @include tablet {
            display: none;
        }
    }

    @include phone {
        width: 100%;
        flex-flow: row nowrap;
        margin-bottom: rem(30px);
    }

    .benefits__title {
        margin-bottom: rem(18px);

        @include tablet {
            margin-bottom: rem(8px);
        }

        @include phone {
            margin-bottom: rem(14px);
        }
    }
}

.benefits__gray {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    min-width: rem(128px);
    min-height: rem(128px);
    background-color: #F2F5F4;
    margin-bottom: rem(20px);

    @include phone {
        margin-bottom: 0;
    }
}

.benefits__pic {
    fill: $black;
    height: rem(68px);
    width: rem(68px);
}