.why .container {
    padding: rem(100px) 0;
}

.why__title {
    margin-bottom: rem(19px);
}

.why__slogan {
    width: 45%;
    margin-bottom: rem(50px);
}

.why__benefits {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.benefits__item {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-right: rem(50px);
    position: relative;

    &:not(:last-child)::before {
        position: absolute;
        content: url("/2020-11-23-web-chocco/images/svg/dots.svg");
        width: rem(67px);
        top: 23%;
        left: 81.5%;
    }

    &:last-child {
        padding-right: 0;
    }

    .benefits__title {
        margin-bottom: rem(18px);
    }
}

.benefits__gray {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: rem(128px);
    height: rem(128px);
    background-color: #F2F5F4;
    margin-bottom: rem(20px);
}

.benefits__pic {
    height: rem(68px);
    width: rem(68px);
}

.benefits__description p {
    margin: 0 right;
    width: 100%;
}